trailingComma: "es5"
endOfLine: lf
printWidth: 120
useTabs: true
tabWidth: 4
semi: true
singleQuote: false
overrides:
  - files: ["*.md", "*.yaml"]
    options:
      tabWidth: 2
  - files: ["*.html"]
    options:
      printWidth: 400